# Ignora i file di sistema Mac
.DS_store
._.DS_store
._gaming.html
._home.html
._story.html
.styleGAMING.css
.styleHOME.css
._ashorthike.jpeg
._berlin.jpeg
._black.jpg
._coding.jpg
._destiny.jpg
._destiny2.jpg
._dublin.jpeg
._eldenring.jpeg
._eldenring.jpg
._future.jpeg
._gaming.jpg
._icon_tab.png
._instagram.png
._la.jpeg
._linkedin.png
._mail.png
._me-old.jpeg
._me.jpeg
._outerwilds.jpg
._portals.jpg
._red.png
._russia.jpg
._spotify.png
._travel.jpeg
._white.jpg