body{
	background-color: #000000;
}
.container{
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	border: 2px solid #aa7c1c;
	border-radius: 25px;
	padding: 10px 10px 10px 10px;
	width: 75%;
	margin: auto;
	background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../media/red.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: right 0px top 0px;
}
.title{
	font-size: 33px;
	width: fit-content;
}
.intro{
	font-size: 20px;
	width: fit-content;
}
.linkPAGE{
	text-decoration: none;
	height: 1px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	float: right; 
	position: relative;
	top: -77px;
}
.pic{
	width: 100px;
	height: 100px;
	border-radius: 25px;
	vertical-align: top;
	margin: 5px;
}
.pic:hover{
	border: 2px solid white;
	box-sizing: border-box;
}

.subtext{
	font-family: 'Kanit', sans-serif;
	font-size: 20px;
	display: none;
	margin: 0;
    padding-top: 10px;
	text-align: center;
}

#pTravel{
	color: #ffff00;
}

#pGaming{
	color: #ff8000;
}

#pMe{
	color: #ff0000;
}

#h2Images{
    display: block;
}
#h2Text{
    display: none;
}

@media (max-width: 712px) {
    .pic{
      display: none;
    }
	.subtext{
		display: block;
	}
	.linkPAGE{
		float: none;
		position: unset;
		top: 0px;
	}
	#h2Images{
        display: none;
    }
    #h2Text{
        display: block;
    }
}

.containerSOCIAL{
	width: fit-content;
	margin: auto;
}
.linkSOCIAL{
	text-decoration: none;
	height: fit-content;
}
.icon{
	width: 30px;
	height: 30px;
	filter: brightness(1);
	filter: invert(1);
}
.icon-selected{
	width: 30px;
	height: 30px;
	filter: brightness(0.5);
	filter: invert(0.5);
}
.icon-selected:hover{
	filter: brightness(1);
	filter: invert(1);
}